<div class="share_buttons_container">
	<img src="/public/share.png">
	<div class="share_buttons">
		<!-- Facebook -->
		<a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="share-btn facebook">
		    <i class="fa fa-facebook"></i>
		</a>
		<!-- Twitter -->
		<a href="http://twitter.com/share?url={{ site.url }}{{ page.url }}&text={{ page.title }}" target="_blank" class="share-btn twitter">
		    <i class="fa fa-twitter"></i>
		</a>
		<!-- Google Plus -->
		<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="share-btn google-plus">
		    <i class="fa fa-google-plus"></i>
		</a>
		<!-- LinkedIn -->
		<a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}&source=<SOURCE_URL>" target="_blank" class="share-btn linkedin">
		    <i class="fa fa-linkedin"></i>
		</a>
		<!-- StumbleUpon (url, title) -->
		<a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" class="share-btn stumbleupon">
		    <i class="fa fa-stumbleupon"></i>
		</a>
		<!-- Reddit (url, title) -->
		<a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" class="share-btn reddit">
		    <i class="fa fa-reddit"></i>
		</a>
		<!-- Email -->
		<a href="mailto:?subject=Check out this cool post!&body={{ site.url }}{{ page.url }}" class="share-btn email">
		    <i class="fa fa-envelope"></i>
		</a>
	</div>
</div>