<div class="sidebar">
  <div class="container sidebar-sticky centered">
    <div class="sidebar-about">
      <img class="pimage-small" src="/public/1.png">
      <h2>
        <a href="{{ site.url }}/">
          {{ site.title }}
        </a>
      </h2>    
      <ul class="list-inline">        
        <li>
            <a href="https://www.linkedin.com/in/shahidkhaliq" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-linkedin" title="LinkedIn"></i></a>
        </li>        
        <li>
            <a href="https://github.com/shahidkhaliq" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-github" title="Github"></i></a>
        </li>        
        <li>
            <a href="https://www.facebook.com/shahidkhaliq13" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-facebook-f" title="Facebook"></i></a>
        </li>        
        <li>
            <a href="mailto:s3khaliq@uwaterloo.ca?Subject=Hi%20Shahid!" target="_top" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-envelope" title="Email"></i></a>
        </li>        
        <li>
            <a href="https://www.goodreads.com/user/show/50889683-shahid-khaliq" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-book" title="Goodreads"></i></a>
        </li> 
        <!--  
        <li>
            <a href="#" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-file-pdf-o" title="Resume"></i></a>
        </li> 
        -->       
      </ul>
      <p class="lead">{{ site.description }}</p>
    </div>
    <hr/>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}/">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
             | <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

       | <a class="sidebar-nav-item" href="/public/resume.pdf" target="_blank">CV</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
